<a href="https://colab.research.google.com/github/Zekun-Yang/Boston_house-price/blob/master/script.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Get the txt data from the URL and convert it into a csv file

In [72]:
import pandas as pd
import requests
url = "http://lib.stat.cmu.edu/datasets/boston"

file = urllib.request.urlopen(url)
file_text = file.read().decode("utf-8")
file_text = file_text.splitlines()[22:]

with open("raw_data.txt", "w") as text_file:
  for index in range(0, len(file_text), 2):
    text_file.write(file_text[index] + file_text[index + 1] + "\n")

data = pd.read_csv('raw_data.txt',sep="\s+", header=None)
data.columns = ["CRIM", "ZN", "INDUS", "CHAS", "NOX", "RM", "AGE", "DIS", "RAD", "TAX", "PTRATIO", "B", "LSTAT", "MEDV"]

#a quick look at the first 5 lines of the data
print("The shape of the data:{} ".format(data.shape))
data.head()

The shape of the data:(506, 14)

      CRIM    ZN  INDUS  CHAS    NOX  ...    TAX  PTRATIO       B  LSTAT  MEDV
0  0.00632  18.0   2.31     0  0.538  ...  296.0     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242.0     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242.0     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222.0     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222.0     18.7  396.90   5.33  36.2

[5 rows x 14 columns]